# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
.gradle/
/.nb-gradle/
run/
.git/
.nb-gradle-properties

# Eclipse Files #
# Generate with ./gradlew eclipse if needed #
.project
.classpath
NecPlusUltra_*.launch
.settings
atom-build.yml
